.detail {
  text-align: center;
}

.detail img {
  width: 100%;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-radius: 6px;
}

.action {
  margin-bottom: 1.5rem;
}

.action a {
  font: inherit;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
}

.action a:hover,
.action a:active {
  background-color: #ffe2ed;
}
